<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/you_and_me.jpeg" width="360px" height="200" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to My Story Apps</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This Story Apps you can see videos story in 2019 years</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Tracking</ion-label>
      </ion-list-header>
      <ion-item href="https://unnur.ac.id">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Study</ion-label>
      </ion-item>
      <ion-item href="https://dev.klob.id/profile/vino88">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Software Engineer</ion-label>
      </ion-item>
      <ion-item href="https://www.google.co.id/maps/place/Alamanda+Tower,+Jl.+TB+Simatupang+No.22-26,+RT.1%2FRW.1,+Cilandak+Bar.,+Kec.+Cilandak,+Kota+Jakarta+Selatan,+Daerah+Khusus+Ibukota+Jakarta+12430/@-6.2909691,106.8024214,17z/data=!3m1!4b1!4m5!3m4!1s0x2e69f1e51715056d:0xa4c65acc294046bd!8m2!3d-6.2909744!4d106.8046101">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Office</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>vino@klob.id</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
