<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="video-background">
    <ion-list>
        <ion-item class="card video-shadow">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/rIfy4-ouH2Y" frameborder="0" width="560" height="315"></iframe>
            </div>
        </ion-item>
        <ion-item class="card video-shadow">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/Gld-19Ttn2M" frameborder="0" width="560" height="315"></iframe>
            </div>
        </ion-item>
        <ion-item class="card video-shadow">
            <div class="video-container">
                <iframe src="http://www.youtube.com/embed/Q4qjTdJh2ms" frameborder="0" width="560" height="315"></iframe>
            </div>
        </ion-item>
        <ion-item class="card video-shadow">
            <div class="video-container">
                <iframe src="http://www.youtube.com/embed/WkLO8llyN64" frameborder="0" width="560" height="315"></iframe>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

  <!--
    <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
